<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dodaj Novog Autora</title>
  <link rel="stylesheet" th:href="@{/css/forme.css}">
</head>
<body>
<header>
  <h1>Online Biblioteka</h1>
  <nav class="nav-menu">
    <form th:action="@{/logout}" method="post" class="logout-form">
      <button type="submit" class="logout-btn">Odjava</button>
    </form>
  </nav>
</header>

<main>
  <p></p>
  <h1>Dodaj Novog Autora</h1>

  <form th:action="@{/authors/add}" th:object="${author}" method="post" class="author-form book-form">
    <div>
      <label for="name"><b>Ime i Prezime:</b></label>
      <input type="text" id="name" th:field="*{name}" />
      <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></div>
    </div>

    <div th:if="${error}" class="error">
      <p th:text="${error}"></p>
    </div>

    <div class="form-actions">
      <button type="submit">Dodaj Autora</button>
      <a th:href="@{/authors/}" class="reset-btn">Poništi</a>
    </div>
  </form>
</main>
</body>
</html>
